<div>
  <h2>Simulate</h2>
<form name="form" (ngSubmit)="onSubmit()">
  <label>Number of Dice Sides :</label>
  <select name="side" id="side"  [(ngModel)]="side" >
    <option value="" disabled="disabled" selected="selected">Select number of sides</option>
    <option value="4">4</option>
    <option value="6">6</option>
    <option value="8">8</option>
    <option value="10">10</option>
    <option value="12">12</option>
    <option value="20">20</option>
    <option value="100">100</option>
</select>
<br/>
  <label>Pieces :</label>
  <input   type="number" name="piece" id="piece" value="Piece"  [(ngModel)]="piece"  />
  <br/>
  <label>Number of Rolls :</label>
  <input type="number" name="roll" id="roll" value="Roll"  [(ngModel)]="roll" />
  <br>
  <button type="submit">Submit</button>
  <table>
    <thead>
      <td>Total</td>
      <td>Count</td>
    </thead>
    <tbody>
      <tr *ngFor="let t of totals">
        <td>{{t.total}}</td>
        <td>{{t.count}}</td>
      </tr>
    </tbody>
  </table>
</form>
</div>

