<div>
    <h2>Piece-Side Combination Count</h2>
    <div *ngIf="show" class="alert alert-danger" role="alert">
        {{message}}
      </div>
    <form name="form" (ngSubmit)="onSubmit()">
        <button type="submit">Refresh</button>
        <table class="table table-bordered table-sm">
            <thead class="thead-dark">
            <td>Piece-Side</td>
            <td>Roll Count</td>
            <td>Simulation Count</td>
            </thead>
            <tbody>
            <tr *ngFor="let r of rows">
                <td>{{r.piece}}-{{r.side}}</td>
                <td>{{r.rollCount}}</td>
                <td>{{r.simulationCount}}</td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
  
  